<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
    <title>Recuperar Contraseña</title>
  </head>

  <body>
    <div id="container" style="height: 100%;width: 100%;">
      <h3 style="margin: 0 0 0 0;color: black;font-family: arial;font-style: bold;font-weight: 900;font-size: 1.5em;line-height: 150%;">
       Hola, {{userName}}!
      </h3>
      <p style="margin-top: 0.9em;font-size: 1.0em;font-family: arial;font-style: normal;font-weight: normal;line-height: 150%;color: #2e3b42;word-wrap: break-word;">
            Para poder recuperar tu contraseña, hace click <a href={{url}}>acá</a>
      </p>
      
    </div>
  </body>
</html>