<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
    <title>Cambios en {{reason}} </title>
  </head>

  <body>
    <div id="container" style="height: 100%;width: 100%;">
      <h3 style="margin: 0 0 0 0;color: black;font-family: arial;font-style: bold;font-weight: 900;font-size: 1.5em;line-height: 150%;">
       Hola, {{userName}}!
      </h3>
      <p style="margin-top: 0.9em;font-size: 1.0em;font-family: arial;font-style: normal;font-weight: normal;line-height: 150%;color: #2e3b42;word-wrap: break-word;">
            Se realizaron cambios en la <span style="font-weight:bold;">{{reason}}</span>. 
      </p>
      <table width="100%">
        <tr>
          <td style="td-style">
            <a href="{{url}}" target="_blank" style="text-decoration: none;"><button style="background: #007bff;border-radius: .25rem;border: none;color: white;font-family: arial;font-style: normal;font-size: 0.9em;display: flex;padding: 0.8em 1.6em 0.8em 1.6em;margin: 1.3em 0 2em 0;">Revísala aquí</button></a>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>