.pdf-container {
  max-height: 80vh;
  width: auto;
}

.pdf-container > div > canvas {
  max-height: 80vh;
  max-width: 80vw;
  /* width: ; */
  /* -ms-transform: scale(1.3, 1.3); /* IE 9 */
  /*-webkit-transform: scale(1.3, 1.3); /* Safari */
  transform: scale(0.9, 0.9);
}
