td{
    width: 70px;
    min-width: 50px;
}
table th{
    width: 70px;
    min-width: 50px;
}

.thNumber{
    text-align: right !important;
}

.bigCell{
    width: 260px;
    min-width: 140px;
}

table td, table th{
    text-align: left;
}

table{
    margin-left: 10px;
}

.mat-form-field {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    margin-left: 10px;
    width: 50px;
}

.leftcol{
    width: 55%;
    float: left;
}

.rightcol{
    width: 44%;
    float: right;
}

.example-card {
    width: 600px;
    margin-top: 10px;
    position: fixed;
  }

  .list-viewer-wrapper {
    border: 1px solid rgba(0, 0, 0, .03);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    margin: 4px;
}

.list-header-title {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
    padding: 8px 20px;
    font-weight: bold;
}

.mat-option{
    text-align: left;
    height: 32px;
    font-size: 14px;
}

.mat-button{
    background-color: lavender;
}

.filter{
    font-size: 14px;
    width: 25%;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block !important;
}


th.mat-sort-header-sorted {
    color: black;
  }

.margenesTable thead {
    visibility: hidden;
    display: none; 
}

mat-checkbox{
    margin-left: 10px;
}
